[Unit]
Description=DWD 10 minute sensor

[Service]
ExecStart=/usr/local/bin/dwd_10mins
DynamicUser=yes
NoNewPrivileges=true
PrivateDevices=true
ProtectHome=yes
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictNamespaces=true
LockPersonality=true
MemoryDenyWriteExecute=true
RemoveIPC=true
StateDirectory=bitwarden_rs
CapabilityBoundingSet=
ProtectKernelLogs=true
ProtectHostname=true
ProtectClock=true
PrivateUsers=true
SystemCallFilter=@system-service
SystemCallFilter=~@privileged
SystemCallFilter=~@resources
SystemCallArchitectures=native

[Install]
WantedBy=default.target

